[2020-06-04 03:24] nrc opened #1 "Create a mailing list"
For announcements and so forth.

[2020-06-04 03:26] nrc opened #2 "Plan initial activities"
Some ideas:

* documentation quest
* host a talk
* first paper for discussion in a reading group

[2020-06-04 03:29] nrc opened #3 "Add some resources for learning about transactions"
Some ideas:

* introductory documentation
* collect links to blog posts and tutorials
* collect papers

[2020-06-04 03:46] youjiali1995 commented on #3
Is it necessary to write detailed and up-to-dated documents? I think all posts are general now.

[2020-06-04 03:52] nrc commented on #3
I think detailed docs should be with code. We can link old and new posts and state what is true and what is out of date. We should avoid having too many docs in this repo, and prefer to link to docs on the blog, in code, etc. IMO we should have some very basic introductory material here so people can get started.

[2020-06-04 03:59] nrc opened #4 "Create an awesome logo"

[2020-06-04 21:01] nrc commented on #1
Done! https://groups.google.com/d/forum/tikv-sig-transaction

[2020-06-04 21:01] #1 closed

[2020-06-07 21:13] nrc opened #5 "High level documentation"
These things are not code-specific and span TiKV and its client. They would be best documented in a separate docs area, rather than inline in the code, and/or in blog posts.

- [ ] Transactions overview, data format, latches, MVCC ([TiDB docs](https://pingcap.com/docs/stable/transaction-overview/), [TinyKV docs](https://github.com/pingcap-incubator/tinykv/blob/course/doc/project4-Transaction.md),

[2020-06-07 21:13] nrc opened #6 "Known issues"
We should host this information here, but in the mean time, here is a link: https://docs.google.com/document/d/1nkBa1ThWBQAR6z3ST6Ef90LOjvgqn3RPi8ycSEEy-cw/edit#

[2020-06-07 21:15] nrc opened #7 "Website or landing page"
Currently [README.md](https://github.com/tikv/sig-transaction/blob/master/README.md) has all the info, but it's not pretty. The SIG should have a landing page on the TiKV website or its own page to welcome new contributors and provide info and links, etc.

[2020-06-08 22:35] nrc opened #8 "Docs quest planning"
I'd like a 'docs quest' to be one of the first activities for the SIG.

## Questions

* ~~How to track progress and list tasks? Tracking issue, milestone, project? In this repo or TiKV repo?~~
* How to promote? TiKV blog post, Twitter, Slack. Where else?
* ~~Who will mentor?~~
* How to manage the quest?
* Who else should be looped in? (Community/ecosystem folk? i18n?)

## Tasks

- [x] define goals

[2020-06-09 23:56] nrc opened #10 "Create a duty roster for issue triage"
We should have somebody on duty to do initial triage of issues. These are helpfully posted to slack once per day (I think). They could also triage new PRs to make sure they get review

As well as a list of names, we should specify the work the person on duty should do.

[2020-06-11 22:16] nrc opened #13 "Parallel commit initial design doc"
Before we start implementation I think we should have a design doc that is a bit more concrete than the docs in the repo. It doesn't need to be very formal since I think initial implementation will be somewhat experimental. It should contain:

* Goals of the project
* Requirements
* Constraints (i.e., things we cannot change or regress)
* A description of the core protocol
* What we plan to implem

[2020-06-18 01:23] nrc opened #18 "How to change write CF?"
Constraints:

* backwards compatibility including rolling updates
* distinguish between rollback and write where the rollback's start_ts is the same as the write's commit_ts

[2020-06-18 01:26] nrc opened #19 "Audit usage of commit_ts"
Look for any places where non-unique commit_ts might cause a problem (for example, it means that we cannot order two transactions with the same commit_ts). In the big picture it means commit_ts only gives a partial order of transactions.

When looking at tools such as CDC and binlog, please also check if there might be other issues with the parallel commit design.

[2020-06-18 01:27] nrc opened #20 "Replica read and parallel commit"
What are the issues and can they be solved? There is some text already in the repo.

[2020-06-18 01:29] nrc opened #21 "Sync of PD timestamps and timestamps computed when resolving a lock for parallel commit"
@MyonKeminta believes there will be problems if and only if the computed ts is > PD's latest ts + 1. I'm not clear on the concrete problems this causes or if/how they can be mitigated.

[2020-06-18 03:29] nrc commented on #21
This is not a problem if we only use timestamps from PD as read ts, but might be a problem due to `conflict_for_update_ts`.

[2020-06-18 03:58] nrc commented on #20
Text in repo: https://github.com/tikv/sig-transaction/blob/master/design/parallel-commit/parallel-commit-known-issues-and-solutions.md#replica-read-by-gengliqi

The problem is that the `max_read_ts` solution relies on the (Raft) leader to know the 'most recent' read and to handle resolve locks. The problem with replica read is that a read may go to a replica instead of the leader. The suggested so

[2020-06-18 09:12] sticnarf commented on #19
### TiDB

I found no assumption that commit ts must be unique.

-------------------------------------

### Binlog

It's impossible for binlog to support non-unique commit ts. It cannot handle the case when a transaction's start ts is identical to another transaction's commit ts, either.

**We should check that parallel commit and binlog are not enabled at the same time.**

------------------------

[2020-06-18 12:18] sticnarf commented on #21
A simple workaround is recording whether a timestamp is allocated from PD or calculated. We can limit deriving a timestamp from a calculated timestamp.
In other words, if `conflict_for_update_ts` is a calculated timestamp, TiDB gets a new timestamp from PD and retry reading.

[2020-06-19 04:26] MyonKeminta commented on #21
@sticnarf I think we do not have any other better solution. We can adopt this solution for now, and in the scenario you said maybe it's better to disable parallel commit.

[2020-06-19 08:00] youjiali1995 commented on #21
Agree.

[2020-06-19 08:04] youjiali1995 commented on #19
For the CDC part, there is a document: https://docs.google.com/document/d/1pbtEx49F9VXJzphCt-PzfypOk_DVKCkD0F3BXoioDO4/edit.

[2020-06-19 08:10] youjiali1995 commented on #19
Does BR check locks? What if a transaction gets a commit_ts and takes a long time to commit?

[2020-06-19 08:32] sticnarf commented on #19
Yes. It resolves all prewritten locks before dumping any data.

But with calculated commit ts, it's possible that we have no pending lock at backup. But `max_read_ts` may be smaller than the max commit ts.

Possible solution:

* Incremental backup uses (`max_read_ts`, +inf) as the range.
* Update `max_read_ts` when backup
* Use `max_ts + 1` to commit

[2020-06-21 09:57] nrc commented on #18
I think rather than change write CF, we can change timestamps. Since write CF keys are of the format `encode(key), ts` and `encode(key)` is terminated by a recognizable sequence of bytes, we can make ts variable length. If ts is 8 bytes, we treat it as an 'old' timestamp, and if its more, we treat it as a new timestamp. So backward compatibility is possible. The hard case is if we have mixed nodes

[2020-06-22 03:21] youjiali1995 commented on #18
I don't think it's a problem because the order of rolling updates is PD, TiKV and then TiDB. Only when TiDB is upgraded, it's possible the timestamp conflict occurs.

[2020-06-22 03:28] nrc commented on #18
Nice.

[2020-06-23 08:08] nrc commented on #18
My preference is to start by trying solution 1, write priority. I believe it is sound and is certainly the easiest to implement. It might affect performance slightly, but lets benchmark to find out.

[2020-06-23 08:12] nrc opened #23 "Parallel commit testing plan"
Beyond simple unit tests, we should have a plan to test parallel commit thoroughly. Some ideas:

* Running our various test suites in CI with parallel commit enabled.
* Benchmarking to ensure performance
* Adding parallel commit to our TLA+ model

More ideas (and elaborating on the above) welcome!

[2020-06-23 09:07] youjiali1995 commented on #23
I will introduce it to QA team and they will design the test plan for it.

[2020-06-25 03:35] nrc commented on #7
Fixed in https://github.com/tikv/website/pull/174

[2020-06-25 03:58] nrc opened #25 "Documentation Quest"
The quest has not yet begun. Please check back here in July.

Before the quest starts:

- remove this header section
- add a 'leader board'
- add tasks
- add mentors

TiKV needs better documentation. The transaction SIG will do its part by documenting the concepts and code behind the TiKV/TiDB transaction system.

If the quest is successful, it should be easier for

* users to understand the isola

[2020-06-25 03:59] nrc commented on #5
Closing in favour of the docs quest (https://github.com/tikv/sig-transaction/issues/25)

[2020-06-25 03:59] #5 closed

[2020-06-25 03:59] nrc commented on #8
The issue: https://github.com/tikv/sig-transaction/issues/25 (WIP).

Tracking issue in this repo

[2020-06-25 08:53] nrc commented on #25
# Leader board

User | Tasks complete
:--:|:--:
@nrc|0

[2020-06-25 09:01] nrc commented on #2
I have started planning the docs quest (#8), I'm pretty confident that will be ready for launch day. I plan to give a talk myself at the end of July on consistency and isolation properties.

I don't have any plans for a reading group paper (or how the reading group would work); some ideas:

* the CRDB paper
* the VLDB TiDB paper
* CRDB's blog post on parallel commit (we've been talking a lot about

[2020-06-25 09:02] nrc commented on #10
cc @jackysp @andylokandy do either of you have thoughts on issue/PR triage?

[2020-06-25 09:29] nrc opened #26 "Identity"
We should have (or check) at least:

- [x] a place to store info (this repo)
- [x] a place to store private info
- [x] web page (#7)
- [x] an email address
- [x] GitHub team

Anything else?

[2020-06-25 09:34] nrc opened #27 "Draft a launch blog post"
To post on the TiKV and my personal blog (and anywhere else we like). Announce the group, say what we do, how to join, etc. Initial activities.

Any other points we should be sure to add?

[2020-06-27 13:32] jackysp commented on #10
How about having the convener of the weekly meeting triage new PRs/issues? Next week should be @tiancaiamao.
- [ ] @jackysp
- [ ] @nrc
- [ ] @MyonKeminta
- [ ] @youjiali1995
- [ ] @coocood
- [ ] @tiancaiamao
- [ ] @lysu
- [ ] @imtbkcat
- [ ] @cfzjywxk
- [ ] @bobotu
- [ ] @sticnarf
- [ ] @andylokandy
- [ ] @ekexium
- [ ] @longfangsong
- [ ] @you06

[2020-06-30 01:54] cfzjywxk commented on #23
@nrc @MyonKeminta
Do we need to list specific development tasks in issues?  We could learn which task is assigned or available, and we could track the progress. Some tasks with high priorities could be labeled and we could make it run if they are done.

[2020-06-30 02:25] nrc commented on #23
Do you mean for the test plan, or more generally?

There is https://github.com/tikv/tikv/issues/8126, https://github.com/tikv/tikv/issues/8127, https://github.com/tikv/tikv/issues/8128 for the latter, which gets us to the end of the first iteration. I haven't filed TiDB issues for that side, but have some notes locally.

[2020-06-30 02:34] youjiali1995 commented on #23
I will introduce it to @zyguan next week.

[2020-06-30 02:35] cfzjywxk commented on #23
Got, I've found this https://github.com/tikv/tikv/projects/34#card-40571966

[2020-06-30 02:39] cfzjywxk commented on #23
Yes, this feature is more complex, we need to get @zyguan involved and start to design tests earlier

[2020-07-06 21:41] nrc commented on #26
GH team: https://github.com/orgs/tikv/teams/sig-txn/

[2020-07-07 01:39] #7 closed

[2020-07-07 01:56] nrc opened #30 "Tracking issue: upcoming talks"
* End of July: @nrc on transactional guarantees
* August: @andylokandy on TLA+

More ideas are welcome!

[2020-07-07 04:27] #10 closed

[2020-07-08 14:17] zyguan commented on #23
Sorry for the late reply, I'm working on it.

[2020-07-09 01:01] nrc commented on #23
No problem! Is there anywhere we can track work? Is there anything we can help with?

[2020-07-09 01:34] nrc opened #31 "July/August reading group paper: CockroachDB at SIGMOD 2020"
## CockroachDB: The Resilient Geo-Distributed SQL Database

Download from [cockroach labs](https://www.cockroachlabs.com/guides/cockroachdb-the-resilient-geo-distributed-sql-database-sigmod-2020/)

I would like to focus on their transaction system, which is described primarily in sections 3 and 4. Cockroach Labs also have some excellent [blog posts](https://www.cockroachlabs.com/blog/engineering/)

[2020-07-09 01:36] nrc commented on #2
Reading group issue: https://github.com/tikv/sig-transaction/issues/31 (still need to decide *how* we're going to discuss it).

[2020-07-10 02:11] nrc commented on #23
https://docs.google.com/document/d/18T_3UsJ6DFOmurJ8dmuDuDz9acWktKnuv8r9Lj20f7Q/edit?ts=5f07ca1f

[2020-07-15 01:14] nrc commented on #26
email: sig-txn@tikv.dev

[2020-07-15 01:14] #26 closed

[2020-07-19 21:32] #13 closed

[2020-07-19 21:54] nrc opened #36 "Tracking issue: async commit"
Design docs, etc are in this repo in [design/parallel-commit](https://github.com/tikv/sig-transaction/tree/master/design/parallel-commit)

[All open issues](https://github.com/tikv/sig-transaction/issues?q=is%3Aopen+is%3Aissue+label%3AT-parallel-commit)

* Audit uses of commit ts (to support future non-unique timestamps) #19 - seems that only issues are with tools now
* Replica read #20
* Syncing

[2020-07-20 22:18] nrc commented on #27
Published: https://tikv.org/blog/announcing-sig-txn/

[2020-07-20 22:18] #27 closed

[2020-07-20 22:19] nrc commented on #2
We've launched and this is better covered by individual issues now.

[2020-07-20 22:19] #2 closed

[2020-07-23 09:35] nrc opened #38 "Plan a client quest"
Once the docs quest is well underway, I think finishing off the client would make a great next quest issue.

[2020-08-03 02:37] nrc commented on #18
cc https://github.com/tikv/tikv/pull/8349

[2020-08-03 02:49] nrc commented on #36
## First increment

Async commit protocol is implemented and functional. Implementation (especially in TiKV) may not be high performance. There may be correctness issues with edge cases.

Deliverable: can demo async commit with real workloads. Can reliably run sysbench benchmark

Deadline: 2020-08-07

[2020-08-03 03:59] nrc commented on #36
Current blocked on increment 1 is implementing checking of secondary locks in TiDB (https://github.com/pingcap/tidb/pull/18467, but needs significant changes). That is blocked on updating kvproto in TiDB due to back-compat issues, fixed by https://github.com/pingcap/kvproto/pull/659

[2020-08-05 06:34] MyonKeminta commented on #18
Sorry I overlooked this issue when I was working on tikv/tikv#8349 . But I used to think about this solution. In my opinion changing key format in write cf will be harder than we expected. Code that depends on the current key format is every where. Even TiFlash and CDC will be affected and need to do something to follow the change. Also, TiKV uses a prefix extractor for rocksdb to build bloomfilte

[2020-08-06 10:04] sticnarf opened #42 "Committing with calculated TS breaks CDC's resolved_ts constraint"
From @MyonKeminta :

CDC requires all incoming "commit" operation has a greater commit_ts than the current resolved_ts. But CDC receives these events by listening apply operation. So it's possible that:
Transaction T1  starts with start_ts = 90 while the max_ts = 100 and got min_commit_ts = 101 , then it starts writing;
1. CDC's resolved_ts advanced to 200 and pushed max_ts to  200;
2. T1's prewri

[2020-08-10 02:39] nrc opened #44 "Docs PRs should only require one LGTM"
I’d like to propose that PRs to TiKV transaction code which are only documentation (i.e., only add or change comments and whitespace) only require one LGTM, not two.

Committers, please check your box if you agree, or leave unchecked and make a comment if you do not. As laid out in the [governance decision making rules](https://github.com/tikv/community/blob/master/GOVERNANCE.md#decision-making-an

[2020-08-10 07:18] MyonKeminta opened #45 "Problems about usage of `max_read_ts`"
We have done much work about updating and making use of `max_read_ts` in this PR: https://github.com/tikv/tikv/pull/8363 . But there are still much work to do to make it perfectly correct.

We need to:

* Update `max_read_ts` by CDC correctly (#42)
* Find if it's necessary to keep a `max_read_ts` for every single region.
* Optimizations (Some possible ideas about optimizations can be found [here](

[2020-08-10 12:02] MyonKeminta opened #46 "Prove correctness of current implementation of handling non-globally-unique commit_ts"
To implement async commit, we need to support using a timestamp that's not a globally-unique tso as a commit_ts. The hardest problem we meet is that the key collision in write cf. This problem was solved in [this PR](https://github.com/tikv/tikv/pull/8349). What it does is:

1. For all operations that need to write a rollback record, check write cf before writing it. If found another transaction's

[2020-08-11 04:53] sticnarf commented on #46
In case 2.1, after T2's rollback and T1's commit, the stale pessimistic lock request of T2 can succeed, and T2 may commit successfully. I think this can also be a source of incorrectness.

[2020-08-11 10:51] MyonKeminta commented on #46
We don't need to go further now. There's a simple solution that solves all possibility that commit may overwrites rollback, thanks for @youjiali1995 : when protected rollback happens, if there's another transaction's lock on the key, put the current ts into the lock. Then when committing, if the commit_ts is contained in the lock, mark the overlapped_rollback flag on the commit record.

[2020-08-13 11:02] #46 closed

[2020-08-27 17:45] nrc commented on #8
Launched: https://www.ncameron.org/blog/documentation-quest/

[2020-08-27 17:45] #8 closed

[2020-08-31 12:26] #42 closed

[2020-09-02 05:46] MyonKeminta opened #51 "Find a solution for schema version check problem for 1PC"
Previously we found that schema version checking might be a problem. Later we think it can be solved if we define a transaction to be committed iff all its keys are prewritten, and, the schema version doesn't change between its start_ts and commit_ts. However it still solve the problem of 1PC, which have no chance to check the schema version at all. We need to find a solution for this if we want t

[2020-09-03 03:03] nrc commented on #18
Closing, since I think this is solved by 8349

[2020-09-03 03:03] #18 closed

[2020-09-03 03:41] nrc commented on #21
This is currently not a bug in the implementation, but is something we should bear in mind for future optimisations.

[2020-09-03 06:33] nrc commented on #45
We should verify that this has been implemented

[2020-09-03 06:41] sticnarf commented on #45
Not yet. I will do it.

[2020-09-04 04:11] sticnarf commented on #45
Yesterday I talked with @MyonKeminta about updating max ts on protected rollbacks, but didn't find whether it's really necessary. Anyway, we can add that for insurance.

[2020-10-13 11:41] MyonKeminta opened #60 "Adapt TiFlash, TiSpark and maybe other components with async commit"
TiFlash and TiSpark may need to resolve locks, and the logic for resolving async commit transactions is different from that for normal 2PC transactions. We need to check if TiFlash and TiSpark is affected by this, and adapt them if necessary. Clients in other languages need to be adapted too.
cc @sticnarf @youjiali1995

[2020-10-13 11:44] youjiali1995 commented on #60
The pain of heterogeneous programming languages.

[2020-10-14 11:45] MyonKeminta commented on #60
I noticed that clients outside TiDB seem to be unable to check the schema version. So perhaps clients other than TiDB should be prohibited to resolve locks of async commit transactions. @youjiali1995  @sticnarf @cfzjywxk

[2020-10-15 01:52] sticnarf commented on #60
@MyonKeminta I don't think checking the schema when resolving locks would be a final solution even for TiDB. I am looking a concrete plan to avoid it (and it's vital for 1PC).

[2020-10-27 09:30] MyonKeminta opened #63 "Adapt async commit/1pc with multi data center"
## Background

We are going to finish async commit in 5.0, and there's going to be another important feature in 5.0: Local/Global transaction in cross DC deployment.

In that feature, there might be multiple PDs in a cluster allocate timestamps simultaneously. There are two kinds of timestamps: local timestamps and global timestamps. A local timestamp can be guaranteed to be globally unique (altho

[2020-10-27 09:30] MyonKeminta commented on #63
cc @sticnarf @cfzjywxk @disksing

[2020-10-27 10:13] MyonKeminta opened #64 "Handle CommitTsTooLarge error in an efficient way"
As a solution to schema version check issue (https://github.com/tikv/sig-transaction/issues/51), we added `max_commit_ts` limit to async commit's prewrite requests. When the calculated `min_commit_ts` exceeds the `max_commit_ts`, the CommitTsTooLarge error will be thrown. We need to find a proper way to handle the CommitTsTooLarge error. Otherwise, when the load is high, the failure rate of async

[2020-10-27 10:15] MyonKeminta commented on #64
cc @coocood @sticnarf @cfzjywxk

[2020-10-27 10:23] coocood commented on #64
Solution 2 looks more safe.

[2020-10-27 11:56] sticnarf commented on #63
Per-DC max_ts seems like the simplest solution.

~~wish we had vector clock so much~~

[2020-10-27 20:05] nrc commented on #63
Is async commit disabled for global transactions at the moment?

[2020-10-28 02:42] sticnarf commented on #63
AFAIK it's not implemented yet.

[2020-10-28 02:54] disksing commented on #63
Still working on TiDB side. We cannot use global/local transactions now.

[2020-10-28 03:33] youjiali1995 commented on #63
Write k2 from DC2, start_ts (allocated from local allocator 2) = 50, calculated commit_ts = 101 (max_ts + 1)

Querying data in different DC should be global transaction.

[2020-10-28 03:45] sticnarf commented on #63
Oh, I think I might misunderstand it before. So the problem described in the issue description is not valid.

The actual problem I think is the order between global and local TSO. If we allow async commit for global transactions, and if the global TSO is faster, a global TS pushed forward max_ts, then a transaction may be unseen to a local reader.

[2020-10-28 04:47] MyonKeminta commented on #63
According to @disksing , DC-belonging of data is usually defined table by table, and it's not guaranteed that a region will never span over multiple tables. As I understood it, local timestamp is preferred if it's sufficient to guarantee the consistency, no matter where the actual location of the data is 🤔
@disksing Can you clarify it for us?

[2020-10-28 09:48] sticnarf commented on #51
**Update:**

With https://github.com/pingcap/tidb/pull/20550, we rely on checks on `max_commit_ts` to guarantee async commit and 1PC transactions conforms the old schema.

However, there are still some subtle and not so serious cases we haven't solved yet:

- [ ] **MODIFY COLUMN** changes default value.
  - A transaction prewrites with the old default value while the DDL happens during the transac

[2020-10-28 13:01] disksing commented on #63
Try to consider the scenario of updating the configuration to change the DC some data belongs. The data needs some time to schedule before it can actually be transferred to another DC, and before the schedule is complete, the binding between the data and the DC is already switched, so there will be a window where the data belongs to DC1, but the actual location is in DC2.

So, a TiKV node (or even

[2020-10-29 03:06] sticnarf commented on #63
Can we consider the DC is not switched before finishing data transfer? If there is indeed some data in the remote DC, I think it reasonable to still use global transaction.

[2020-10-30 03:09] nrc commented on #63
IMO, we should only support async commit + local txns in 5.0 and add async commit + global later. These two features are already large and significant, and I don't think we should add more risk to the 5.0 release.

[2020-10-30 03:17] cfzjywxk commented on #63
I agree that it will be many details to consider and mainting `max_ts` at DC level seems not that easy.

[2020-11-02 22:37] nrc opened #67 "Reading group: nominations for January 2021"
What would you like to read in January 2021?

Nominate papers in the comments. Any research paper or white paper which covers distributed transactions or related work are suitable, both recent work and classics.

[2020-11-02 22:43] nrc opened #68 "Reading group: November and December 2021"
We'll read 'Industrial-Strength OLTP Using Main Memory and Many Cores', by Avni et al. at Huawei Research Centre. It was published in the proceedings of VLDB 2020 and you can download it from [them](http://www.vldb.org/pvldb/vol13/p3099-avni.pdf).

Discuss it on Slack: [#sig-txn-reading-group-nov-dec-21](https://tikv-wg.slack.com/archives/C01DNV3LQSJ)

See also our [blog post](TODO).

[2020-11-03 06:40] disksing commented on #63
I think switch data binding ahead is better because global transactions are heavy and slow. We can benefit from local transactions when r/w data that is already transferred.

[2020-11-04 19:59] #31 closed

[2020-11-05 01:58] #36 closed

[2020-11-05 03:37] nrc commented on #45
@sticnarf reports all listed items are done.

[2020-11-05 03:37] #45 closed

[2020-11-05 03:45] #21 closed

[2020-11-05 04:02] ekexium commented on #51
`admin repair table` can corrupt data. But we may not need to solve it since it's rare and users should be aware of its consequence.

[2020-11-05 04:52] MyonKeminta opened #69 "Keep documentation of async commit up-to-date"
We are keeping changing and improving our design during development of async commit.  However now our design document is out-of-date, and doesn't match our real implementation well. We need to update the document, so people new to async commit can get start better.

[2020-11-12 03:38] nrc commented on #19
Closing since this is all addressed now, other than testing.

[2020-11-12 03:38] #19 closed

[2020-11-16 01:54] nrc commented on #20
Closed by tikv/tikv#8926

[2020-11-16 01:54] #20 closed

[2020-11-17 07:46] pramodbiligiri commented on #25
Noting down my thoughts on what the existing TiDB docs look like. I'm keeping in mind two types of users (Users and Developers) and the kind of documentation they'll need:
1. Users → User Guide: a step by step guide on how to use TiKV Transactions.
2. Developers → Design docs, Module level and code level docs.
3. Both Users and Developers → TiDB Transactions Reference, which is exhaustive but may

[2020-11-17 07:49] pramodbiligiri commented on #25
Based on this, I'm planning to write up some docs within sig-transaction, because Developer docs can do with small improvements and won't affect the end user directly. Any further suggestion on which part of sig-transaction I can expand on will be welcome.

[2020-11-23 02:44] nrc commented on #25
Awsome, thank you!

I think a good thing to do is to pick a module and add some comments on types - it is mostly possible to do that by searching for uses.

[2020-11-24 08:35] sticnarf opened #75 "Need disable async commit and 1PC during the upgrade from TiDB < 5.0"
Async commit and 1PC are fundamental changes to the transaction protocol in TiDB. There will be new kinds of locks that need to be handled in new ways. Therefore, it is very hard for TiDB < 5.0 to handle these locks well, for example:

1. The BatchGet API adds a new response-level error for returning the memory lock (see https://github.com/tikv/tikv/pull/9077). TiDB 5.0 will be able to read the me

[2020-11-27 03:09] cfzjywxk commented on #75
/cc @coocood @youjiali1995 @MyonKeminta @nrc @lysu
We could discuss here and check the related work.

[2020-11-27 03:46] sticnarf commented on #75
I propose making `enable-async-commit` and `enable-1pc` system variables. These two variables are set to 1 in new 5.0 clusters but set to 0 for clusters upgraded from pre-5.0 versions.

Upgrading tools provided by us (like tidb-operator or tiup) can set these two variables to 1 after upgrading is finished.

[2020-11-27 04:07] youjiali1995 commented on #75
Agree, same as my thoughts.

[2020-11-30 06:26] MyonKeminta commented on #75
I think it's better if the user can choose whether to enable it after upgrading.  A user who is sensitive to risks may not want to enable it after upgrading. Considering this, maybe it's better just to keep it disabled after upgrading, and the user need to enable it manually.

[2020-12-02 09:55] MyonKeminta opened #78 "Make single region 1PC compatible with CDC and other components"
Due to the special writing procedure of 1PC transactions, 1PC is not compatible with CDC. It might be not compatible with other components either. We need to solve the problem.
Some ideas can be found [here](https://github.com/tikv/sig-transaction/pull/57/files) .

[2020-12-03 09:50] sticnarf opened #79 "Compatibility between async commit fallback and CDC"
If we fallback from async commit using the solution 2 in https://github.com/tikv/sig-transaction/issues/64, we need to amend the primary lock clearing the async commit mark. Then, there can be two mutations writing the same lock. I am not sure whether CDC can handle this case.

[2020-12-03 09:51] sticnarf commented on #79
cc @5kbpers @MyonKeminta

[2020-12-04 02:15] youjiali1995 commented on #79
We write the same lock when refreshes TTL too. I think CDC can handle it.

[2020-12-04 02:20] sticnarf commented on #79
I write a new design of implementing fallback. It does not rewrite the primary lock (it's actually unnecessary, I think).

[2020-12-04 02:33] MyonKeminta opened #81 "CDC and TiFlash can't handle the case that records in write cf is rewritten"
It's found that currently CDC and TiFlash is still not fully compatible with async commit, in case the commit record is rewritten because of overlapping rollback.

[2020-12-04 02:58] sticnarf commented on #64
# Implementation details

## TiKV

### Auto fallback in prewrite

When TiKV receives an async-commit or 1PC prewrite request, it calculates the `max_commit_ts`  key by key. Then for a single prewrite request, some key may pass the commit_ts constraint check while some may not.

After a `CommitTsTooLarge` error is encountered, subsequent mutations will be prewritten using the normal 2PC way. Prior

[2020-12-04 03:31] #79 closed

[2020-12-04 15:27] andylokandy commented on #44
PTAL and make your vote :) 🚀
@lysu @zhangjinpeng1987 @tiancaiamao @lysu @imtbkcat @AndreMouche @bobotu @cfzjywxk @coocood @disksing

[2020-12-07 03:53] disksing commented on #44
Agree! (sorry I have no permission to check the box)

[2020-12-07 04:35] cfzjywxk commented on #44
Agree! (sorry I have no permission to check the box)

[2020-12-07 05:25] MyonKeminta commented on #64
I think it's better use the `use_async_commit` field, which seems already included in the returned message of `check_secondary_locks`. I'm kind of afraid that `min_commit_ts` in secondary locks may not always the flag of whether async commit is used in the future.

[2020-12-07 05:28] sticnarf commented on #64
Fixed.

[2020-12-07 09:15] andylokandy commented on #44
Seems we have come to a quorum consensus~ Let's roll!

[2020-12-07 20:23] nrc commented on #44
@AndreMouche do you have a suggestion for how to implement this in the bot?

[2020-12-08 03:17] andylokandy commented on #44
@nrc it's already implemented in the new bot and we'll finish the trasition this month.

[2020-12-08 06:10] nolouch commented on #63
If the `max_ts` is maintained at the region level, we only need to split the cross-DC regions before switching. but now the `max_ts` at the store level, which means we need to transfer data to the corresponding DC (heavy operator) before switching.

As Local/Global TXN already basically works (https://github.com/pingcap/tidb/issues/20448), we need a solution to this problem.  Does max_ts will supp

[2020-12-08 06:21] nrc commented on #63
I think the solution for now is that async commit is only used for local transactions and we use 2pc for global transactions. Does it solve the data transfer issue?

[2020-12-08 08:24] djshow832 commented on #63
IMHO, there are some possible solutions:
1. Local transactions don't async commit, but global transactions do. It's practical to only maintain one `max_ts` because global TSO is comparable with local TSO.
2. Global transactions don't async commit but local transactions do. It's impractical because each store may still have more than one `max_ts` to maintain, each corresponding to one DC. Besides,

[2020-12-08 11:29] MyonKeminta commented on #63
Is there any problem about the idea mentioned at first in this issue, which means to make async commit work for both local and global transactions?

[2020-12-08 17:56] nrc commented on #63
Complexity. Async commit is already way too complex for my liking and we can't add more at this stage of the project, we need to leave it to a follow up.

[2020-12-09 08:01] youjiali1995 opened #82 "Compatible issues between async commit and green GC"
1. Green GC is not compatible with async commit if async apply is enabled: A lock isn't applied and the transaction may be committed.
2. TBD

[2020-12-09 08:11] sticnarf commented on #82
It's a blocker for enabling async apply by default. Maybe not a blocker for async commit GA.

[2020-12-16 03:34] nrc commented on #64
@sticnarf can we close this issue now?

[2020-12-16 03:35] sticnarf commented on #64
Ah, yes. We can close it.

[2020-12-16 03:43] #64 closed

[2020-12-21 04:03] nrc commented on #78
Closed by https://github.com/tikv/tikv/pull/9254

[2020-12-21 04:03] #78 closed

[2021-01-18 06:27] sticnarf commented on #81
Resolved by:
CDC: https://github.com/tikv/tikv/pull/9359 and https://github.com/tikv/tikv/pull/9446
TiFlash: https://github.com/pingcap/tics/pull/1278

[2021-01-18 06:27] #81 closed

[2021-01-19 10:06] MyonKeminta commented on #82
For ScanLock and PhysicalScanLock requests, it should update the max_ts, check the memory lock, and finally read the raftkv or the rocksdb.
For checking memory locks, there are two possible implementations: wait for the memory lock being released, or return them to the client. But for the second way, the implementation should carefully keep the increasing order of the keys in the response, and do

[2021-01-21 05:37] MyonKeminta commented on #82
As for async apply prewrite, can we let TiKV simply return error for green gc requests if async apply prewrite is enabled?

[2021-01-21 06:16] youjiali1995 commented on #82
There is another corner case that green GC doesn't solve now.. https://github.com/tikv/tikv/issues/8184#issuecomment-763483003

[2021-01-21 07:55] MyonKeminta commented on #82
Ah.. yes.. and

I notice that this is not a good idea considering the case that TiKV's config is changed and restarted.

Recently Jay discussed with me about a new idea that maybe we can use resolved_ts to determine if there's any lock before safepoint that needs to be resolved. Since resolved_ts will also be used by follower stale read, it may be an always-running service, instead of running only

[2021-03-01 02:38] andylokandy opened #97 "Update TLA+ Spec for async commit"
The [TiKV](https://github.com/tikv/tikv) has recently been launching a new feature in the transaction model named [Async commit](https://github.com/tikv/sig-transaction/tree/master/design/async-commit). It's an optimization that reduces the commit latency from 2PC to 1PC. However, this feature has not been reflected in the [TLA+ Specs](https://github.com/pingcap/tla-plus/tree/master/DistributedTra

[2021-03-04 11:23] jackysp commented on #75
Agree. I don't think users are eager enough to use the new features in the first transaction after the upgrade.

[2021-03-10 06:15] longfangsong opened #99 "[Discussion] Reconsider the way we write unit test"
I fell our unit tests in TiKV somehow not satisfing.

For example when reviewing [tikv#9514](https://github.com/tikv/tikv/pull/9514), which changed the **rollback collapse logic**, I found it breaked some test cases in **`mvcc::reader`**.

These test are used to test the behavoir of reader and the `engine.rollbacks` are used only to provide a testing environment. i.e. They are not supposed to real

[2021-03-10 06:29] longfangsong commented on #99
IMO for the `mvcc` tests some DSL might be good, I have seen several interesting things in comments like:

[code]

Can we formalize this kind of things and make our unit tests clearer?

[2021-03-10 06:59] longfangsong commented on #99
@nrc @youjiali1995 @sticnarf

[2021-03-10 21:53] nrc commented on #99
I agree, I think our tests are hard work to understand and to write. Ultimately, I think the problem is that we are not testing truly minimal units of code. The tests test a single action or feature, but they don't test one unit of code. On the other hand they are not full integration tests because they don't test the whole system. I think that is not necessarily bad, but that we can make the test

[2021-03-14 04:03] zhuo1angT commented on #97
Hi @andylokandy, I'm interested in this project, and I'd like to take part in the GSoC 2021. What I can do to start?

[2021-03-15 07:48] WT-Liu commented on #97
Hi @zhuo1angT Thanks for your interest! The students application of GSoC 2021 will be open on Mar 30. Stay tuned please!

[2021-03-16 09:37] sticnarf opened #101 "Pending async commit transactions don't necessarily block read"
Now the `min_commit_ts` of async commit transactions cannot be advanced like the legacy transactions. So if our read timestamp is larger than the `min_commit_ts` of an async-commit lock, we can only wait until the lock expires and resolve the lock.

Actually, we can use the `CheckSecondaryLocks` API to achieve something like advancing `min_commit_ts`.

We can add `caller_start_ts` (like the one in

[2021-03-16 09:38] sticnarf commented on #101
cc @nrc @youjiali1995 @MyonKeminta @cfzjywxk

[2021-03-16 13:58] cfzjywxk commented on #101
We could do some benchmarks for the read-write conflict scenarios with different data distributions to show the impact. Currently I agree it's not urgent and we need to make the basic async-commit stable before introducing new improvements.

[2021-03-22 04:26] MyonKeminta commented on #101
Did you mean that the transaction's lock can be skipped if we did CheckSecondaryLocks on one if its keys that's not yet locked?
Sounds correct, but I'm afraid that if you do the CheckTxnStatus - CheckSecondaryLocks procedure even when the lock's TTL is not expired, it may cause too many these requests when there are many transaction conflicts and maybe results in lower performance.

[2021-03-22 04:28] sticnarf commented on #101
Yes. And it's why I suggest this only happens after several times of backoffs.

[2021-03-28 09:54] plevart opened #104 "Building for JDK9+"
I noticed that JDK 8 is still needed for building. Is this intentional? Do you plan to support JDK 8 in the java-client? I'm looking at some warnings like:
[code]
There are alternatives in JDK 9+ that don't produce such warnings which are now runtime errors in JDK 16+... How much do you value being able to run on JDK 8 ? There is an option of creating alternative classes such as MemoryUtil for JDK

[2021-03-28 10:49] plevart commented on #104
Sorry, wrong project. Moving it to java-client: https://github.com/tikv/client-java/issues/154

[2021-03-28 10:49] #104 closed

[2021-04-13 16:59] srisatya1197 commented on #3
Is anyone working on this issue?

[2021-04-13 21:05] nrc commented on #3
Not that I know of, please feel free to work on something. If you need any pointers for where to get started, let me know.

[2021-04-15 15:03] tisonkun commented on #36
hi @nrc could you please update the link to our design doc from [design/parallel-commit](https://github.com/tikv/sig-transaction/tree/master/design/parallel-commit) to [design/async-commit](https://github.com/tikv/sig-transaction/tree/master/design/async-commit). Note that the original link is broken because feature name changed and also the file layout.

[2021-04-16 07:30] srisatya1197 commented on #3
I would like to work on this issue. I need help as well if I'm assigned.

[2021-04-16 07:53] srisatya1197 commented on #3
@nrc Sir Is there any discord/slack channel for help.

[2021-04-16 10:09] andylokandy commented on #3
Thanks for your reply. Before assigning the issue to you, may I ask whether or not you have already some resources for putting into the sig. If so, could you please share the link to those resources?

By the way, just comment on this issue for help.

[2021-04-16 10:33] srisatya1197 commented on #3
@andylokandy Sorry I didn't understand which resources you are referring?

[2021-04-16 10:43] srisatya1197 commented on #3
Is this link suitable resource @andylokandy :
https://www.ibm.com/cloud/blog/database-deep-dives-pingcap-and-tikv

[2021-04-17 01:51] tisonkun commented on #3
@srisatya1197 thanks for your interests. I can see the document you link is useful but it seems unsatisfied the whole idea of this issue. Since this issue has a bigger image all of

However, the knowledge you brought is useful and you can just create a pull request referred to this issue as part of its work. If you get assign on this issue, it might be a long term effort to collect / write resourc

[2021-04-17 02:15] tisonkun opened #108 "[PROPOSAL] sig-transaction integrates GitHub Discussion and moves stuff"
With an offline discussion with @andylokandy yesterday, I learned we create tikv/sig-transaction for collecting stuff and hosting a repository for design discussion.

However, the design document should have been put under [tikv/rfcs](https://github.com/tikv/rfcs), as well as we have GitHub Discussion for open-ended discussion.

@andylokandy @sticnarf and I reached a consensus that we turn on GitH

[2021-04-17 02:27] tisonkun commented on #108
Still I found several questions, which are almost about "what to do with existing stuff". The whole idea would be archived this repository because we don't want to break any links already to this repository. And migrate stuff on demand.

1. For weekly meeting, we can easily move to the new category of GitHub Discussion, for upcoming people comment.
2. For design document, I'd like to copy them und

[2021-04-17 03:20] srisatya1197 commented on #3
Ok will do it. But, it's not assigned.  Yes I know it's not as satisfactory as other blogs .

[2021-04-17 03:20] srisatya1197 commented on #3
Should I write a blog?

[2021-04-17 03:34] tisonkun commented on #3
I think it is viable assign this issue to you so you can go ahead if it is your concern. However, this issue remains until reach a consensus on "enough resources" and if there is someone else want to contribute, it is also welcome despite this issue is assigned.

What "blog" do you mean? In my understanding you can just create a pull request adding new files under [this directory](https://github.c

[2021-04-17 03:47] srisatya1197 commented on #3
Ok Sir.

[2021-04-18 20:57] nrc commented on #108
I'm not sure that this is true, since these are evolving design docs, not RFCs. The problem with moving to the RFC repo, is there is still a need to do early stage, informal design, and if we don't do that here then it will end up in a google doc, or on a whiteboard, both of which are less accessible

have we trialed GH discussions? I'm hesitant to move to something new and untested

Are these eas

[2021-04-18 23:55] tisonkun commented on #108
Thanks for your reply @nrc . Comment inline.

Do you have a plan that design finalize under this repository finalized in tikv/rfcs? In another perspective, we don't implement code without a discussed design. I think it is ok to update rfc reflecting design changed if necessary. But async commit even a GA feature with this statement is still under discussion, which sounds weird. BTW I agree that fo

[2021-04-19 08:29] andylokandy commented on #108
May I have a suggestion: make a pinned discussion (if GitHub can) under the transaction tab in Github Discussion, for gathering all links to individual meeting posts.

Yet another problem is how to suggest changes to the meeting record. Can everyone that has permission edit the comment in GitHub discussion? @tisonkun

[2021-04-19 08:38] tisonkun commented on #108
Yes it can be done with [this approach](https://docs.github.com/en/discussions/managing-discussions-for-your-community/managing-discussions-in-your-repository#pinning-a-discussion).

Nope. Only the author of comment or someone who has the write privilege to for the repository can edit, according to [this document](https://docs.github.com/en/github/site-policy/github-community-guidelines#what-if-so

[2021-04-23 11:41] srisatya1197 commented on #3
@andylokandy I have a doubt should I add the link which I have shared before or what?

[2021-04-24 04:52] andylokandy commented on #3
I think that blob is not that useful for *learning transaction*?

[2021-04-24 05:11] tisonkun commented on #3
@srisatya1197 you can just attach the link to resource you'd like to add here or create a pull request against doc/tikv, organize your content properly.

[2021-04-29 01:17] tisonkun commented on #108
Hi @andylokandy @nrc @sticnarf  , now we have [a forum](https://internals.tidb.io/) for technical discussion about TiDB projects, and I'm glad to invite you to hold a `transaction` category for discussion about distributed transaction. If you are interested on it, please reply and I will set the category for you.

[2021-05-08 03:51] cfzjywxk opened #109 "Solve the green-gc related issues"
Currently the green-gc is [disabled](https://github.com/pingcap/tidb/pull/22533) by default as it still has some corener cases or [issues](https://github.com/tikv/tikv/issues/8184) to solve.

As the hibernate region is default [enabled](https://github.com/tikv/tikv/pull/9735) just on the master branch, it's urgent to solve the green gc issues. However, as the green-gc is already a GA released feat

[2021-05-08 06:42] tisonkun commented on #108
https://internals.tidb.io/t/category-request-transaction/60 and here is a category request for transaction.

[2021-05-08 06:42] #108 closed

[2021-05-24 08:39] srisatya1197 commented on #3
@andylokandy @tisonkun https://dev.to/srisatya/for-readers-that-may-not-be-familiar-what-are-tidb-and-tikv-3m56
can you please check this link.

[2021-06-02 06:42] #3 closed

[2021-06-02 07:15] srisatya1197 commented on #4
@nrc Can you expand what this issue is about?

[2021-06-07 16:27] andylokandy commented on #97
This issue is now tracked by https://github.com/tikv/tikv/issues/10319

[2021-06-07 16:27] #97 closed